/** S1 **/

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 80vw;
  height: 100vh;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards .card:first-of-type {
  margin-right: 3vw;
}
.cards .card:last-of-type {
  margin-left: 3vw;
}

.cards p {
  max-width: 85%;
  font-size: var(--one);
  padding: 2em 0;
}

.s1 h1 {
  padding: 2em 0;
  font-size: var(--three);
  font-weight: 600;
  /* max-width: 85%; */
}

img {
  width: 37vw;
}

/** S1^ **/

/** S2 **/

.s2 .container {
  align-items: center;
  width: 80vw;
}

.assets {
  display: grid;
  gap: 5vw;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.assets .asset .banner {
  display: flex;
  align-items: center;
}

.s2 img {
  width: clamp(50px, 10vw, 125px);
  margin-right: 1em;
}

.s2 h2 {
  font-size: var(--two);
  margin-left: 1em;
}
.s2 h2::before {
  content: " ";
  height: 50px;
  width: 2px;
  background: var(--jet);
  position: absolute;
  transform: translate(-0.8em, -25%);
}

/** S2^ **/
