/** S1 **/

.introCover {
  content: "c ";
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 1;
  transition: opacity ease-in-out 1s;
}

/* .s1 .container {
  max-width: 900px;
} */

.cards {
  display: grid;
  gap: 3vw;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /*snaps at 650px*/
}
.cards .card:first-of-type {
  margin-right: 3vw;
}
.cards .card:last-of-type {
  margin-left: 3vw;
}

h1 {
  padding: 0 0 2em;
  font-size: var(--three);
  font-weight: 600;
  max-width: 84%;
}

.cards p {
  max-width: 85%;
  font-size: var(--two);
  padding: 2em 0;
}

img {
  /* width: 37vw; */
  width: 100%;
}

@media screen and (max-width: 650px) {
  .cards {
    display: flex;
    flex-direction: column;
  }

  .cards .card:first-of-type {
    margin-right: initial;
  }
  .cards .card:last-of-type {
    margin-left: initial;
  }

  h1 {
    padding: 0 0 1em;
    font-size: 1.25em;
    font-weight: 600;
    max-width: 84%;
  }

  .cards p {
    max-width: 85%;
    font-size: 1em;
    padding: 0.5em 0 1em;
  }

  img {
    /* height: 10vh; */
  }
}

/** S1^ **/

/** S2 **/

.s1 {
  background: rgb(235, 235, 235);
}

.s2 .container {
  /* display: flex;
  align-items: center;
  flex-direction: column; */
}

.assets {
  display: grid;
  gap: 4em;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  /* max-width: 1000px; */
  /* margin: 0 10vw; */
}
@media screen and (max-width: 900px) {
  .assets {
    gap: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    max-width: initial;
  }
}

.assets .asset .banner {
  display: flex;
  align-items: center;
}

.asset {
  background: red;
}

.s2 img {
  width: clamp(50px, 75px, 100px);
  margin-right: 1em;
}

.s2 h2 {
  font-size: var(--three);
  margin-left: 1em;
}
.s2 h2::before {
  content: " ";
  height: 50px;
  width: 2px;
  background: var(--jet);
  position: absolute;
  transform: translate(-0.8em, -15%);
}

.s2 p {
  margin: 1em 0;
}

/** S2^ **/
