h3 {
  font-size: var(--header-fontSize);
  font-weight: 600;
  color: var(--accent-color);
}

h4 {
  font-size: var(--title-fontSize);
  font-weight: 500;
  margin-bottom: var(--body-fontSize);
  max-width: 450px;
}

.linkIcons {
  display: flex;
}

.linkIcons li {
  list-style: none;
}

#home .linkIcons img {
  height: 24px;
  width: 24px;
  margin-right: calc(var(--body-fontSize) / 2);
}

#homeBG {
  background-image: url(../img/header-graphic.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  z-index: -1;
  position: absolute;

  width: 100vw;
  height: 125vh;
}
