.nextPageHint {
  position: absolute;
  z-index: 100;
  bottom: -112.5px;
  left: calc(50vw - 75px);
  background-color: var(--jet);
  height: 150px;
  width: 150px;

  animation: hint 1.5s 1s cubic-bezier(0.95, -0.85, 0, 1.57) both;
}
span {
  font-weight: 600;
  color: var(--white);
  position: absolute;
  transform: rotate(-45deg) translate(-25%, 1em);
}
@keyframes hint {
  0% {
    transform: scale(0) rotate(45deg);
    /* transform-origin: 50% 100%; */
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(45deg);
    /* transform-origin: 50% 100%; */
    opacity: 1;
  }
}

/** first page **/

h1 {
  font-size: var(--four);
}

.positions {
  margin-top: var(--four);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10vw;
}

h2 {
  font-size: var(--three);
}
.headers {
  margin-bottom: var(--three);
}
.headers::after {
  content: "";
  height: 5px;
  width: 33vw;
  background-color: var(--jet);
  position: absolute;
  transform: translateY(1ch);
}

h3 {
  font-size: var(--two);
  font-weight: 400;
}

.positions li {
  font-size: var(--body);
}

/** first page^ **/

/** second page **/

.p2Background {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.p2Background img:first-of-type {
  position: absolute;
  top: 0;
  left: 0;
  height: 33.34vh;
  object-fit: cover;
}
.p2Background img:nth-of-type(2) {
  position: absolute;
  top: 33.34vh;
  right: 0;
  height: 33.34vh;
  object-fit: cover;
}
.p2Background img:nth-of-type(3) {
  position: absolute;
  top: 66.68vh;
  left: 0;
  height: 33.34vh;
  object-fit: cover;
}

.p2Background img:first-of-type {
  animation: bannerSlide 110s 1.5s infinite alternate;
  /*67*/
}
.p2Background img:nth-of-type(2) {
  animation: bannerSlide2 110s 0s infinite alternate; /*37*/
}
.p2Background img:nth-of-type(3) {
  animation: bannerSlide 110s 3s infinite alternate; /*67*/
}
@keyframes bannerSlide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-40%);
  }
}
@keyframes bannerSlide2 {
  0% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(0);
  }
}

.s2 .container {
  width: 80vw;
  max-width: 850px;
}
.s2 h1 {
  background-color: var(--white);
  padding: var(--bodySmaller);
  font-size: var(--three);
  margin: 0;
}
.s2 p {
  color: var(--white);
  background-color: var(--jet);
  padding: var(--bodySmaller);
  font-size: var(--two);
  width: max-content;
}

.gradientOverlay {
  content: "";
  height: 100vh;
  width: 100vw;
  background: black;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background: linear-gradient(
    0deg,
    var(--jet) 0%,
    rgba(0, 0, 0, 0.25) 50%,
    var(--jet) 100%
  );
}

/** second page ^ **/
