/** first page **/

/* .s1{
  background-image: url(./../img/house_background.png);
  background-size: cover;
  background-position: right;
} */

/* .s1 {
  background-image: url(../img/cringe.JPEG);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
} */

.s1 {
  color: var(--white);
  text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: var(--four);
  /* background: linear-gradient(45deg, var(--ebony) 0%, var(--jet) 100%);
  width: 700px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  margin-bottom: var(--bodySmaller);
}

.s1 p {
  font-size: var(--one);
  max-width: 600px;
}

.s1 p:first-of-type {
  margin-bottom: var(--two);
}

.s1 p:last-of-type {
  margin-bottom: var(--bodySmaller);
}

.s1 a img {
  height: var(--two);
}
.s1 a,
.s1 a:link .s1 a:visited,
.s1 a:active {
  text-decoration: none;
  color: var(--jet);
}

.guides {
  display: flex;
  justify-content: space-between;
  max-width: 850px;
  margin: 1em 0;
  font-size: var(--three);
  font-weight: 300;
  transform: translateX(-0.66%);
}

.banner-left {
  display: initial;
  position: absolute;
  height: 20vh;
  bottom: 0;
  z-index: 10;
}
.banner-right {
  display: initial;
  position: absolute;
  height: 39.5vh;
  bottom: 0;
  right: 0;
  z-index: 10;
}

/** first page ^ **/

@media only screen and (max-width: 1115px) {
  .banner-right {
    display: none;
  }
}

/** second page **/

.p2Background {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.p2Background img:first-of-type {
  position: absolute;
  top: 0;
  left: 0;
  height: 33.34vh;
  object-fit: cover;
}
.p2Background img:nth-of-type(2) {
  position: absolute;
  top: 33.34vh;
  right: 0;
  height: 33.34vh;
  object-fit: cover;
}
.p2Background img:nth-of-type(3) {
  position: absolute;
  top: 66.68vh;
  left: 0;
  height: 33.34vh;
  object-fit: cover;
}

.p2Background img:first-of-type {
  animation: bannerSlide 110s 1.5s infinite alternate;
  /*67*/
}
.p2Background img:nth-of-type(2) {
  animation: bannerSlide2 110s 0s infinite alternate; /*37*/
}
.p2Background img:nth-of-type(3) {
  animation: bannerSlide 110s 3s infinite alternate; /*67*/
}
@keyframes bannerSlide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-40%);
  }
}
@keyframes bannerSlide2 {
  0% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(0);
  }
}

.s2 .container {
  width: 80vw;
  max-width: 850px;
}
.s2 h1 {
  background-color: var(--white);
  padding: var(--bodySmaller);
  font-size: var(--three);
  margin: 0;
}
.s2 p {
  color: var(--white);
  background-color: var(--jet);
  padding: var(--bodySmaller);
  font-size: var(--two);
  width: max-content;
}

.gradientOverlay {
  content: "";
  height: 100vh;
  width: 100vw;
  background: black;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background: linear-gradient(
    0deg,
    var(--linearGradientBot) 0%,
    rgba(0, 0, 0, 0.25) 50%,
    var(--linearGradientTop) 100%
  );
}

/** first page ^ **/
