.pages {
  width: 100vw;
  height: 100vh;

  position: relative;
  scroll-behavior: smooth;
  overflow-y: scroll;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  scroll-snap-align: center;
}

.page .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */

  margin: 0 calc(100vw / 12) 0 calc((100vw / 12) * 2);
  width: calc((100vw / 12) * 10);
  /* background-color: rgba(255, 0, 0, 0.386); */
}

/* * Home page * */

#home h1 {
  font-size: var(--heroBanner-fontSize);
  font-weight: 600;
  line-height: 72px;
  max-width: 1000px;
  margin-bottom: calc(var(--title-fontSize) / 2);
}

#home h2 {
  font-size: var(--body-fontSize);
  max-width: 375px;
  font-weight: 400;
  margin-bottom: calc(var(--body-fontSize) / 2);
}

.linkIcons {
  display: flex;
}

.linkIcons li {
  list-style: none;
}

#home .linkIcons img {
  height: 24px;
  width: 24px;
  margin-right: calc(var(--body-fontSize) / 2);
}

#home .linkIcons {
  /* margin-bottom: calc(var(--body-fontSize) / 2); */
}

#home .button a,
#home .button a:link,
#home .button a:visited,
#home .button a:active {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 500;
}
#home .button {
  margin-top: var(--heroBanner-fontSize);
}

/* * Home page^ * */

/* * Pages * */

.counter {
  font-size: var(--counter-fontSize);
  line-height: 432px;
  color: var(--body-three-color);
  position: absolute;
  left: -57px;
  transform: translateY(-66px);
  z-index: -1;
}

.page h3 {
  font-size: var(--header-fontSize);
  /* line-height: 48px; */
  font-weight: 600;
  color: var(--accent-color);
}

.page h4 {
  font-size: var(--body-fontSize);
}

.page h3,
.page h4 {
  max-width: 373px;
}

/* * Pages^ * */
