/* * Home page * */

#home h1 {
  /*#BABABA*/
  font-size: var(--heroBanner-fontSize);
  font-weight: 600;
  line-height: 72px;
  max-width: 1000px;

  color: #dedede;
  margin-bottom: calc(var(--title-fontSize) / 2);
  mix-blend-mode: difference;
}

#home .wrapper {
  background: url(../img/pictureFrame.png);
  background-repeat: no-repeat;
  /* background-position: 80%; */
  background-position: right;
  background-color: white;
  /* background-color: radial-gradient(
    115.97% 274.94% at 0% 11.2%,
    #ffffff 0%,
    #d4d4d4 100%
  ); */
  background-size: calc((100vh / 12) * 8.5);
}

#home h2 {
  max-width: 375px;
  font-weight: 400;
  margin-bottom: calc(var(--body-fontSize) / 2);
}

.linkIcons {
  display: flex;
}

.linkIcons li {
  list-style: none;
}

#home .linkIcons img {
  height: 24px;
  width: 24px;
  margin-right: calc(var(--body-fontSize) / 2);
}

#home .button a,
#home .button a:link,
#home .button a:visited,
#home .button a:active {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 500;
}
#home .button {
  display: flex;
  align-items: center;
  width: calc((100vw / 12) * 2);
  margin-top: var(--heroBanner-fontSize);
}

#home .button img {
  margin-left: calc(var(--body-fontSize) / 2);
}

/* * Home page^ * */

/* * Pages * */

.page .wrapper > div {
  display: flex;
  align-items: center;
}

.counter {
  font-size: var(--counter-fontSize);
  line-height: 432px;
  color: var(--body-three-color);
  position: absolute;
  left: -57px;
  transform: translateY(-66px);
  z-index: -1;
}

.page h3 {
  font-size: var(--header-fontSize);
  /* line-height: 48px; */
  font-weight: 600;
  color: var(--accent-color);
}

.page h3,
.page h4 {
  width: calc((100vw / 12) * 3);
  margin-right: calc(100vw / 12);
}

/* * Pages^ * */

/* Skills */

#skills .lists {
  display: flex;
  flex-direction: row;
  transform: translateY(calc(50% + calc(var(--body-fontSize) / 2)));
}

#skills .list {
  width: calc((100vw / 12) * 2);
}

#skills .list h5 {
  font-weight: 500;
  color: var(--accent-color);
  margin-bottom: var(--body-fontSize);
}

#skills .list ul {
  list-style: none;
}

@media screen {
  .list ul li:nth-of-type(2) {
    opacity: 90%;
  }
  .list ul li:nth-of-type(3) {
    opacity: 80%;
  }
  .list ul li:nth-of-type(4) {
    opacity: 70%;
  }
  .list ul li:nth-of-type(5) {
    opacity: 60%;
  }
  .list ul li:nth-of-type(6) {
    opacity: 50%;
  }
  .list ul li:nth-of-type(7) {
    opacity: 40%;
  }
  .list ul li:nth-of-type(8) {
    opacity: 30%;
  }
  .list ul li:nth-of-type(9) {
    opacity: 20%;
  }
  .list ul li:nth-of-type(10) {
    opacity: 10%;
  }
}

/* Skills^ */

/* Experience */

#experience .items {
  transform: translate(0, 10%);
}

#experience .items .item {
  display: flex;
  flex-direction: column;
}

#experience .item {
  width: calc(100vw / 3);
  margin-bottom: calc(var(--body-fontSize) * 2);
}

#experience .item h5 {
  font-size: var(--title-fontSize);
  font-weight: 500;
  color: var(--accent-color);
  line-height: var(--title-fontSize);
  margin-bottom: calc(var(--body-fontSize) / 3);
}

#experience .item p {
  color: var(--body-two-color);
  margin-bottom: var(--body-fontSize);
}

#experience .item ul {
  list-style-type: none;
}

#experience .item ul li::before {
  content: ' ';
  width: 5px;
  height: 5px;
  position: absolute;
  background-color: var(--body-two-color);
  border-radius: 99px;
  transform: translate(-300%, 233%);
}

#experience .item ul li {
  margin-bottom: calc(var(--body-fontSize) / 3);
}

/* Experience^ */

/* About */

#about div:nth-of-type(2) {
  transform: translate(0, 42%);
}

#about div:nth-of-type(2) h5 {
  font-size: var(--title-fontSize);
  font-weight: 500;
  font-style: italic;
  color: var(--accent-color);
  line-height: var(--title-fontSize);
  margin-bottom: var(--body-fontSize);
}

#about div:nth-of-type(2) p {
  max-width: calc((100vw / 12) * 6);
  margin-bottom: calc(var(--body-fontSize) / 2);
}

/* About^ */

/* Work */

#work h3,
#work h4 {
  margin-right: 0;
}

#work .wrapper > div div:nth-of-type(1) {
  transform: translateY(25%);
}

#work div:nth-of-type(2) {
  display: flex;
  justify-content: center;
  width: 100%;
}

#work div:nth-of-type(2) img {
  width: calc((100vw / 12) * 3);
  max-width: 600px;
}

#work button {
  display: flex;
  align-items: center;
  padding: var(--body-fontSize) calc(var(--body-fontSize) * 2);
  padding-left: var(--body-fontSize);
  width: calc((100vw / 6) * 1.33);
  margin-top: var(--title-fontSize);
  bottom: calc((-400vh) + ((100vh / 12) * 4));
  background-color: var(--body-color);
  border: none;
}

#work button img {
  margin-left: calc(var(--body-fontSize) / 2);
}

#work button a {
  background-color: none;
}

#work button a,
#work button a:link,
#work button a:visited,
#work button a:active {
  text-decoration: none;
  font-weight: 500;
  font-size: var(--body-fontSize);
  color: #fff;
}

/* Work^ */
