.introAnimation {
  height: 158px;
  width: 308px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  /* transform: translate(0, 50px); */
  transform: translate(calc(50vw - (154px)), calc(50vh - (154px / 4)));
}

.firstLetter,
.secondLetter {
  display: flex;
  height: 150px;
  width: 150px;
}
.firstLetter {
  transform: translate(-4px, 0);
  animation: jOut 1s forwards 6.4s 1 ease-in-out;
}
.secondLetter {
  transform: translate(4px, 0);
  animation: cOut 1s forwards 6.4s 1 ease-in-out;
}

@keyframes jOut {
  0% {
    transform-origin: right top;
    transform: translate(-4px, 0);
    transform: scale(1);
    filter: opacity(1);
  }
  99% {
    transform-origin: right top;
    transform: translate(-4px, 0);
    transform: scale(30);
    filter: opacity(0);
  }
  100% {
    transform-origin: right top;
    transform: translate(-4px, 0);
    transform: scale(30);
    filter: opacity(0);
    display: none;
  }
}
@keyframes cOut {
  0% {
    transform-origin: left top;
    transform: translate(4px, 0);
    transform: scale(1);
    filter: opacity(1);
  }
  99% {
    transform-origin: left top;
    transform: translate(4px, 0);
    transform: scale(30);
    filter: opacity(0);
  }
  100% {
    transform-origin: right top;
    transform: translate(-4px, 0);
    transform: scale(30);
    filter: opacity(0);
    display: none;
  }
}

#jTop {
  content: '';
  position: absolute;
  width: 0px;
  height: 50px;
  background-color: var(--body-color);

  transform: translate(150px, 0%);

  animation: jTop 8s ease-in-out forwards;
  animation-delay: 1.4s;
}

#jMid {
  content: '';
  position: absolute;
  width: 0px;
  height: 50px;
  background-color: var(--body-color);

  transform: translate(150px, 0);

  animation: jMid 8s ease-in-out 1 forwards;
  animation-delay: 1.4s;
}

#jBot {
  content: '';
  position: absolute;
  width: 0px;
  height: 50px;
  background-color: var(--body-color);

  transform: translate(150px, 0);

  animation: jBot 8s ease-in-out 1 forwards;
  animation-delay: 1.4s;
}

#cTop {
  content: '';
  position: absolute;
  width: 1px;
  height: 50px;
  background-color: var(--body-color);

  transform: translate(0, 0);

  animation: cTop 8s ease-in-out 1 forwards;
  animation-delay: 1.4s;
}

#cMid {
  content: '';
  position: absolute;
  width: 0px;
  height: 50px;
  background-color: var(--body-color);

  transform: translate(0, 0);

  animation: cMid 8s ease-in-out 1 forwards;
  animation-delay: 1.4s;
}

#cBot {
  content: '';
  position: absolute;
  width: 0px;
  height: 50px;
  background-color: var(--body-color);

  transform: translate(0, 0);

  animation: cBot 8s ease-in-out 1 forwards;
  animation-delay: 1.4s;
}

/**animations**/

@keyframes jTop {
  0% {
    width: 0px;
    height: 50px;
    background-color: var(--body-color);

    transform: translate(150px, 0%);
  }
  10% {
    width: 150px;
    height: 50px;

    transform: translate(0, 0%);
  }
  20% {
    transform: translate(0, -100%);
    border-radius: 0 0 0 0;
  }
  30% {
    border-radius: 0 0 0 20px;
  }
  40% {
    transform: translate(0, -100%);
  }
  50% {
    transform: translate(0, -58%);
  }
  60% {
  }
  70% {
  }
  80% {
  }
  90% {
  }
  100% {
    border-radius: 0 0 0 20px;
    background-color: var(--body-color);
    transform: translate(0, -58%);
    width: 150px;
    height: 50px;
  }
}

@keyframes jMid {
  0% {
    width: 0px;
    height: 50px;
    background-color: var(--body-color);

    transform: translate(150px, 0);
  }
  10% {
    width: 50px;
    height: 50px;

    transform: translate(100px, 0);
  }
  20% {
  }
  30% {
    width: 50px;
    height: 52px;

    transform: translate(100px, -1px);
  }
  40% {
    width: 50px;
    height: 0px;

    transform: translate(100px, -1px);
  }
  50% {
  }
  60% {
  }
  70% {
  }
  80% {
  }
  90% {
  }
  100% {
    width: 50px;
    height: 0px;
    background-color: var(--body-color);

    transform: translate(100px, -1px);
  }
}

@keyframes jBot {
  0% {
    width: 0px;
    height: 50px;
    background-color: var(--body-color);

    transform: translate(150px, 0);
  }
  10% {
    width: 150px;
    height: 50px;

    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 100%);
    border-radius: 0 0 0 0;
  }
  30% {
    border-radius: 0 0 20px 0;
  }
  40% {
    transform: translate(0, 100%);
  }
  50% {
    transform: translate(0, 58%);
  }
  60% {
  }
  70% {
  }
  80% {
  }
  90% {
  }
  100% {
    border-radius: 0 0 20px 0;
    background-color: var(--body-color);
    transform: translate(0, 58%);
    width: 150px;
    height: 50px;
  }
}

@keyframes cTop {
  0% {
    width: 1px;
    height: 50px;
    background-color: var(--body-color);

    transform: translate(0, 0);
  }
  10% {
    width: 150px;
    height: 50px;

    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, -100%);
    border-radius: 0 0 0 0;
  }
  30% {
    border-radius: 20px 0 0 0;
  }
  40% {
    transform: translate(0, -100%);
  }
  50% {
    transform: translate(0, -58%);
  }
  60% {
  }
  70% {
  }
  80% {
  }
  90% {
  }
  100% {
    width: 150px;
    height: 50px;
    border-radius: 20px 0 0 0;
    background-color: var(--body-color);
    transform: translate(0, -58%);
  }
}

@keyframes cMid {
  0% {
    width: 0px;
    height: 50px;
    background-color: var(--body-color);

    transform: translate(0, 0);
  }
  10% {
    width: 50px;
    height: 50px;

    transform: translate(0, 0);
  }
  20% {
  }
  30% {
    width: 50px;
    height: 52px;

    transform: translate(0, -1px);
  }
  40% {
    width: 50px;
    height: 0px;

    transform: translate(0, -1px);
  }
  50% {
  }
  60% {
  }
  70% {
  }
  80% {
  }
  90% {
  }
  100% {
    width: 50px;
    height: 0px;
    background-color: var(--body-color);

    transform: translate(0, -1px);
  }
}

@keyframes cBot {
  0% {
    width: 0px;
    height: 50px;
    background-color: var(--body-color);

    transform: translate(0, 0);
  }
  10% {
    width: 150px;
    height: 50px;

    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 100%);
    border-radius: 0 0 0 0;
  }
  30% {
    border-radius: 0 0 0 20px;
  }
  40% {
    transform: translate(0, 100%);
  }
  50% {
    transform: translate(0, 58%);
  }
  60% {
  }
  70% {
  }
  80% {
  }
  90% {
  }
  100% {
    border-radius: 0 0 0 20px;
    background-color: var(--body-color);
    transform: translate(0, 58%);

    width: 150px;
    height: 50px;
  }
}
