@-moz-viewport {
  width: device-width;
  scale: 1;
}
@-ms-viewport {
  width: device-width;
  scale: 1;
}
@-o-viewport {
  width: device-width;
  scale: 1;
}
@-webkit-viewport {
  width: device-width;
  scale: 1;
}
@viewport {
  width: device-width;
  scale: 1;
}
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
}

/* --- font sizes --- */
:root {
  --five: 5.5em; /*banner font size*/
  --four: 2.75em;
  --three: 1.8333em;
  --two: 1.375em;
  --one: 1.2083em;
  --body: 1.0417em;
  --bodySmaller: 0.9167em;
}

/* --- color palette --- */
:root {
  --jet: #292929;
  --grey: #d3d3d3;
  --white: #eeeeee;

  --linearGradientTop: rgb(227, 227, 227);
  --linearGradientBot: rgb(164, 164, 164);
}

/* * *            * * */
/* * * standards^ * * */
/* * *            * * */

/*** page slides nav ***/
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  width: 16px;
  height: 16px;
  margin: -8px 0 0 -8px;
  background: transparent;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 2px var(--jet);
  overflow: hidden;
}
#fp-nav ul li a span::after,
.fp-slidesNav ul li a span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  border-radius: 50%;
  left: 0;
  bottom: 0;
  background-color: var(--jet);
  box-shadow: 0 0 1px var(--jet);
  transition: height 0.3s;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  width: 16px;
  height: 16px;
  margin: -8px 0 0 -8px;
  background: transparent;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 2px var(--jet);
}
#fp-nav ul li a.active span::after,
.fp-slidesNav ul li a.active span::after,
#fp-nav ul li:hover a.active span::after,
.fp-slidesNav ul li:hover a.active span::after {
  height: 100%;
}
/*** page slides nav buttons/dots^ ***/

.section {
  /*all "fullpages"*/
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    -45deg,
    var(--linearGradientBot) 0%,
    var(--linearGradientTop) 100%
  );
}

nav {
  position: absolute;
  z-index: 1;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.091);
}

nav .navBar {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  /* justify-content: space-between; */
  justify-content: center;
  justify-items: center;
  margin-left: 10vw;
  margin-right: 10vw;
  width: 80vw;
  padding: 2em 0;
  font-size: var(--one);
}

nav .navBar div {
  transform: translateY(25%);
}

.navBar .navLeft,
.navBar .navRight {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 100%;
}

.navBar .logo {
  width: 100px;
  position: relative;
  /* transform: translateY(-12.5px); */
  transform: translateY(0px);
}
.navBar a,
.navBar a:link .navBar a:visited,
.navBar a:active {
  text-decoration: none;
  color: var(--jet);
}

.container {
  /*Fullpage margins*/
  position: absolute;
  /* flex-wrap: wrap; */
  top: 50%;
  transform: translateY(-50%);
  left: 10vw;
  margin: auto;
  width: 80vw;
  /* height: 100vh; */
  z-index: 10;
}

/** first page **/

/* .s1{
  background-image: url(./../img/house_background.png);
  background-size: cover;
  background-position: right;
} */

/* .s1 {
  background-image: url(../img/cringe.JPEG);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
} */

.s1 {
  color: var(--white);
  text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
}

.s1 h1 {
  font-size: var(--four);
  /* background: linear-gradient(45deg, var(--ebony) 0%, var(--jet) 100%);
  width: 700px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  margin-bottom: var(--bodySmaller);
}

.s1 p {
  font-size: var(--one);
  max-width: 600px;
}

.s1 p:first-of-type {
  margin-bottom: var(--two);
}

.s1 p:last-of-type {
  margin-bottom: var(--bodySmaller);
}

.s1 a img {
  height: var(--two);
}
.s1 a,
.s1 a:link .s1 a:visited,
.s1 a:active {
  text-decoration: none;
  color: var(--jet);
}

.guides {
  display: flex;
  justify-content: space-between;
  max-width: 850px;
  margin: 1em 0;
  font-size: var(--three);
  font-weight: 300;
  transform: translateX(-0.66%);
}

.banner-left {
  position: absolute;
  height: 20vh;
  bottom: 0;
  z-index: 10;
}
.banner-right {
  position: absolute;
  height: 39.5vh;
  bottom: 0;
  right: 0;
  z-index: 10;
}

/** first page ^ **/
