@-moz-viewport {
  width: device-width;
  scale: 1;
}
@-ms-viewport {
  width: device-width;
  scale: 1;
}
@-o-viewport {
  width: device-width;
  scale: 1;
}
@-webkit-viewport {
  width: device-width;
  scale: 1;
}
@viewport {
  width: device-width;
  scale: 1;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
  --body-color: #2e2e2e;
  --accent-color: #4db5f0;

  --body-two-color: #2e2e2ea8; /* 66% opacity of body */
  --body-three-color: #2e2e2e12; /* 7% opacity of body */
  --drawer-bg-color: #ededed;
  --counter-fontSize: 432px;
  --heroBanner-fontSize: 72px;
  --header-fontSize: 48px;
  --title-fontSize: 24px;
  --body-fontSize: 18px;
}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-smooth: auto;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  background: radial-gradient(
    115.97% 274.94% at 0% 11.2%,
    #ffffff 0%,
    #d4d4d4 100%
  );
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: 400;
}

/* * * Nav * * */

/* * Menu icon * */
.menuIcon {
  position: absolute;
  right: calc((100vw / 12) + 1em);
  top: calc((100vh / 12) - 8px + 1em);
  z-index: 99;
  width: calc(35px + 2em);
  height: calc(20px + 2em);
}

.menuIcon span::before {
  position: absolute;
  content: ' ';
  height: 4px;
  width: 35px;
  background-color: var(--body-color);

  transition: all 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.menuIcon span::after {
  position: absolute;
  /* transform: translate(1em, 1em); */
  margin-top: 12px;
  content: ' ';
  height: 4px;
  width: 35px;
  background-color: var(--body-color);

  transition: all 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.menuIcon span.active::before {
  transform: translateY(150%) rotate(45deg);
}
.menuIcon span.active::after {
  transform: translateY(-150%) rotate(-45deg);
  /* box-shadow: 1px 1px 5px rgba(100, 100, 100, 0.9); */
}

/* * Menu icon ^ * */

nav.active {
  right: 0;
}
nav {
  display: none;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: -100%;
  top: 0;
  height: 100vh;
  min-width: 200px;
  width: 33vw;
  max-width: 1000px;
  background-color: var(--drawer-bg-color);
  z-index: 98;

  transition: all 0.4s ease-in-out;
}

nav .nav {
  margin-left: var(--title-fontSize);
  margin-top: var(--title-fontSize);
  margin-bottom: var(--title-fontSize);
}

nav .nav h6 {
  margin-bottom: var(--body-fontSize);
  font-weight: 500;
  color: var(--accent-color);
}

nav li {
  list-style: none;
}
nav li a,
nav li a:link,
nav li a:visited,
nav li a:active {
  text-decoration: none;
  color: var(--body-color);
}

/* * * Nav^ * * */

.pages {
  width: 100vw;
  height: 100vh;

  position: relative;
  scroll-behavior: smooth;
  overflow-y: scroll;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  scroll-snap-align: center;
}

.page .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 calc((100vw / 12) * 2) 0 calc((100vw / 12) * 2);
  width: calc((100vw / 12) * 10);
}

/* * * Header * * */

header {
  display: flex;
  align-items: center;
  z-index: 90;
  position: absolute;
  margin-left: calc(100vw / 12);
  margin-top: calc(100vh / 12);
}

header img {
  height: 30px;
  transform: translateY(3.5px);
}

header a,
header a:link,
header a:visited,
header a:active {
  text-decoration: none;
  color: var(--body-two-color);
}

header > a {
  margin-right: calc(100vw / 18);
}

/* * * Header^ * * */
