/* defaults */

.page .wrapper {
  align-items: center;
  flex-direction: row;
}

.wrapper .info {
  display: flex;
  flex-direction: column;
}

.page .info {
  min-width: 430px;
  padding-right: 34px;
}

h3 {
  font-size: var(--header-fontSize);
  font-weight: 600;
  color: var(--accent-color);
}

h4 {
  font-size: var(--title-fontSize);
  font-weight: 500;
  margin-bottom: var(--body-fontSize);
}

ul {
  list-style: none;
  margin-bottom: var(--title-fontSize);
}

.primaryButton,
.secondaryButton {
  display: flex;
  align-items: center;
  padding: var(--body-fontSize) calc(var(--body-fontSize) * 2);
  padding-left: var(--body-fontSize);
  margin-bottom: calc(var(--body-fontSize) * 0.66);
  width: calc((100vw / 6) * 1.33);
  bottom: calc((-400vh) + ((100vh / 12) * 4));
  background-color: var(--body-color);
  border: none;
}
.secondaryButton {
  background-color: var(--accent-color);
}

.primaryButton img,
.secondaryButton img {
  margin-left: calc(var(--body-fontSize) / 2);
}

.primaryButton a,
.secondaryButton a {
  background-color: none;
}

.primaryButton a,
.primaryButton a:link,
.primaryButton a:visited,
.primaryButton a:active,
.secondaryButton a,
.secondaryButton a:link,
.secondaryButton a:visited,
.secondaryButton a:active {
  text-decoration: none;
  font-weight: 500;
  font-size: var(--body-fontSize);
  color: #fff;
}

/* defaults^ */

@media screen and (max-width: 600px) {
  /* defaults */

  body {
    font-size: var(--mobile-fontSize);
  }

  .page .wrapper {
    margin: 0 !important;
    flex-direction: column;
  }

  .page .info {
    min-width: initial;
    margin-left: 34px;
  }

  .page h3 {
    font-size: var(--mobile-header-fontSize);
    margin-bottom: calc(var(--mobile-header-fontSize) / 3) !important;
  }

  .page h4,
  .page h5 {
    font-size: var(--mobile-title-fontSize);
    margin-bottom: calc(var(--mobile-title-fontSize) / 3) !important;
  }

  .info ul li::before {
    content: ' ';
    width: 5px;
    height: 5px;
    position: absolute;
    background-color: var(--body-two-color);
    opacity: 0.33;
    transform: translate(-300%, 200%);
  }

  .button {
    margin-top: var(--mobile-header-fontSize);
    width: initial;
  }

  /* defaults^ */

  /* home */

  .iPhoneMockups {
    margin-top: calc(var(--mobile-header-fontSize) * 3);
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .iPhoneMockups img:nth-of-type(1) {
    height: calc((100vw / 12) * 6.5);
    transform: translateX(105%);
  }

  .iPhoneMockups img:nth-of-type(2) {
    height: calc((100vw / 12) * 7.5);
  }

  .iPhoneMockups img:nth-of-type(3) {
    height: calc((100vw / 12) * 6.5);
    transform: translateX(-105%);
  }

  /* home^ */

  /* carousels */

  .slides {
    margin: 0;
    max-width: 100vw;
    flex-direction: row;

    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 51px 17px calc(var(--mobile-header-fontSize) * 3) 34px;
  }
  .slides::-webkit-scrollbar {
    display: none;
  }

  .slides img {
    width: calc(100vw - 85px);
    max-width: initial;
    transition: none;

    box-shadow: 0 9px 68px rgba(0, 0, 0, 0.125);
    margin-right: 17px;
  }

  .slides img:nth-of-type(1) {
    z-index: 2;
  }
  .slides img:nth-of-type(2) {
    margin-left: 0;
    transform: none;
  }
  .slides img:nth-of-type(3) {
    margin-left: 0;
  }

  /* carousels^ */
}
