/* defaults */

.page .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 34px;
  margin-right: 0;
}

.wrapper .info {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.wrapper figure {
  width: 60%;
  height: 100%;
}

.wrapper figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.page .info {
  max-width: 642px;
}

h3 {
  font-size: var(--header-fontSize);
  font-weight: 600;
  color: var(--accent-color);
}

h4 {
  font-size: var(--title-fontSize);
  font-weight: 500;
  margin-bottom: var(--body-fontSize);
}

ul {
  list-style: none;
  margin-bottom: var(--title-fontSize);
}

/* buttons */
@media screen {
  .primaryButton,
  .secondaryButton {
    display: flex;
    align-items: center;
    padding: var(--body-fontSize) calc(var(--body-fontSize) * 2);
    padding-left: var(--body-fontSize);
    margin-bottom: calc(var(--body-fontSize) * 0.66);
    width: calc((100vw / 6) * 1.33);
    bottom: calc((-400vh) + ((100vh / 12) * 4));
    background-color: var(--body-color);
    border: none;
    min-width: max-content;
    width: 75%;
    max-width: 378px;
  }
  .secondaryButton {
    background-color: var(--accent-color);
    min-width: max-content;
    width: 25%;
    max-width: 251px;
  }

  .primaryButton img,
  .secondaryButton img {
    margin-left: calc(var(--body-fontSize) / 2);
  }

  .primaryButton a,
  .secondaryButton a {
    background-color: none;
  }

  .primaryButton a,
  .primaryButton a:link,
  .primaryButton a:visited,
  .primaryButton a:active,
  .secondaryButton a,
  .secondaryButton a:link,
  .secondaryButton a:visited,
  .secondaryButton a:active {
    text-decoration: none;
    font-weight: 500;
    font-size: var(--body-fontSize);
    color: #fff;
  }
}

/* defaults^ */

@media screen and (max-width: 680px) {
  /* defaults */

  body {
    font-size: var(--mobile-fontSize);
  }

  .page .wrapper {
    margin: 0 !important;
    flex-direction: column;
    justify-content: center;
  }

  .page .info {
    margin-left: 34px;
  }

  .wrapper figure {
    display: none;
  }

  .page h3 {
    font-size: var(--mobile-header-fontSize);
    margin-bottom: calc(var(--mobile-header-fontSize) / 3) !important;
  }

  .page h4,
  .page h5 {
    font-size: var(--mobile-title-fontSize);
    margin-bottom: calc(var(--mobile-title-fontSize) / 3) !important;
  }

  .info ul li::before {
    content: ' ';
    width: 5px;
    height: 5px;
    position: absolute;
    background-color: var(--body-two-color);
    opacity: 0.33;
    transform: translate(-300%, 200%);
  }

  .button {
    margin-top: var(--mobile-header-fontSize);
    width: initial;
  }

  /* defaults^ */
}
