/* defaults */

.page .wrapper {
  align-items: center;
  /* justify-content: space-between; */
  flex-direction: row;
  margin: 0 calc(100vw / 12);
}

.wrapper .info {
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: var(--header-fontSize);
  font-weight: 600;
  color: var(--accent-color);
}

h4 {
  font-size: var(--title-fontSize);
  font-weight: 500;
  margin-bottom: var(--body-fontSize);
}

ul {
  list-style: none;
}

.button a,
.button a:link,
.button a:visited,
.button a:active {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 500;
}
.button {
  display: flex;
  align-items: center;
  width: calc((100vw / 12) * 2);
  margin-top: var(--title-fontSize);
}

.button img {
  margin-left: var(--body-fontSize);
}

/* defaults^ */

#home .info {
  /* max-width: calc((100vw / 12) * 3); */
}

.iPhoneMockups {
  margin: auto;
  display: flex;
  /* justify-content: center; */
  align-items: flex-end;
}

.iPhoneMockups img:first-of-type {
  height: calc((100vh / 12) * 7);
  transform: translateX(100%);
  z-index: -2;

  animation: lsHomeImg 1s 1s ease-in-out forwards;
  animation-iteration-count: 1;
}
.iPhoneMockups img:nth-of-type(2) {
  height: calc((100vh / 12) * 8);
}
.iPhoneMockups img:nth-of-type(3) {
  height: calc((100vh / 12) * 7);
  transform: translateX(-100%);
  z-index: -2;

  animation: rsHomeImg 1s 1s ease-in-out forwards;
  animation-iteration-count: 1;
}
.iPhoneMockups img:nth-of-type(4) {
  height: calc((100vh / 12) * 8);
  position: absolute;
  transform: translateX(13.5%);
  z-index: -1;

  opacity: 0%;
  animation: fadeIn 1s 1.2s ease-in-out forwards;
  animation-iteration-count: 1;
}

/* carousels */

.iPhoneMockups .slides {
  display: flex;
  max-height: calc((100vh / 12) * 9);
  margin-top: calc(100vh / 12);
  margin-left: auto;
  margin-right: auto;
}

.slides img {
  width: calc(((100vw / 12) * 3));
  max-width: 550px;
  border-radius: 11px;

  transition: all 0.5s ease-in-out;
  box-shadow: 18px 0 336px rgb(0, 0, 0);
}

.slides img:nth-of-type(1) {
  z-index: 2;
}

.slides img:nth-of-type(2) {
  margin-left: calc(((100vw / 12) * -1.5));

  border-radius: 13px;
  z-index: 3;
  transform: scale(1.5);
}

.slides img:nth-of-type(3) {
  margin-left: calc(((100vw / 12) * -1.5));
  z-index: 2;
}

/* carousels^ */

/* homepage animations */

@keyframes lsHomeImg {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(50%);
  }
}

@keyframes rsHomeImg {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* .iPhoneMockups img:first-of-type {
  transform: translateX(50%);
}
.iPhoneMockups img:nth-of-type(3) {
  transform: translateX(-50%);
} */

/* homepage animations^ */
