/** main **/

.container {
  margin: auto;
  max-width: 850px;
}

h1 {
  font-size: var(--four);
  font-weight: 600;
}

/** main ^ **/

/** first page **/

.textBody {
  margin-top: 1em;
}

.textBody p {
  font-size: var(--one);
  padding: 0.5em 0;
}

.textBody p:last-of-type {
  padding: 1.5em 0;
  font-weight: 600;
}

/** first page ^ **/

/** second page **/

.s2 h1 {
  margin: auto;
  margin-bottom: var(--one);
}

.links {
  display: grid;
  margin: auto;
  gap: var(--one);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.links div {
  background-color: var(--jet);
  transition: 0.3s cubic-bezier(0.47, 0.29, 0.01, 1.55);
}

.links div:last-of-type {
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 6;
  background: rgb(30, 190, 115);
}

.links div a {
  display: flex;
  align-items: center;
  padding: 8px;
  color: var(--white);
}
.links div:last-of-type a {
  align-items: center;
  justify-content: center;
  height: 100%;
  transform: translateX(calc(-0.5 * var(--one)));
  color: var(--white);
  font-weight: 400;
}

.links h3 {
  font-size: var(--two);
  font-weight: 300;
}
.links h3:last-of-type {
  font-weight: 400;
}

.s2 img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin: 0 var(--one);
}

.links a:active,
.links a:focus,
.links a:visited,
.links a:link {
  color: var(--grey);
  text-decoration: none;
  transition: 0.3s cubic-bezier(0.47, 0.29, 0.01, 1.55);
}

div .links div:hover {
  transform: scale(1.09);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.16);
}

/** second page ^ **/
