.s1 {
  overflow: hidden;
}
.nextPageHint {
  position: absolute;
  z-index: 100;
  bottom: -112.5px;
  left: calc(50vw - 75px);
  background-color: var(--jet);
  height: 150px;
  width: 150px;
  animation: hint 1.5s 1s cubic-bezier(0.95, -0.85, 0, 1.57) both;
}
.nextPageHint span {
  font-weight: 600;
  color: var(--white);
  position: absolute;
  transform: rotate(-45deg) translate(-25%, 1em);
}
@keyframes hint {
  0% {
    transform: scale(0) rotate(45deg);
    /* transform-origin: 50% 100%; */
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(45deg);
    /* transform-origin: 50% 100%; */
    opacity: 1;
  }
}

/** main **/

h1 {
  font-size: var(--four);
}

/** main ^ **/

/** first page **/

.s1 .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
h1 {
}
.textBody {
  /* width: 500px; */
  margin-top: 1em;
}

.textBody p {
  font-size: var(--one);
  padding: 0.5em 0;
  max-width: 900px;
}

.textBody p:last-of-type {
  padding: 1em 0;
}

/** first page ^ **/

/** second page **/

.s2 .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2em;
}

.links div {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 10vh;
}

.links h3 {
  margin-left: 2em;
  font-weight: 400;
}

.links h3::before {
  content: "";
  width: 3px;
  height: 50px;
  background-color: var(--jet);
  position: absolute;
  transform: translate(-1em, -25%);
}

.s2 img {
  width: 50px;
  margin-left: 1em;
}

.links a:active,
.links a:focus,
.links a:visited,
.links a:link {
  color: var(--jet);
  text-decoration: none;
  font-size: var(--two);
  transition: 0.175s ease-in-out all;
}
.links a:hover {
  color: var(--white);
}

.links div:nth-of-type(1) h3 {
  /* color: rgba(0, 119, 181, 1); */
  /* background: linear-gradient(
    -45deg,
    rgba(49, 51, 53, 1) 0%,
    rgba(0, 119, 181, 1) 100%
  ); */
}
.links div:nth-of-type(2) h3 {
  /* color: rgba(45, 186, 78, 1); */
  /* background: linear-gradient(
    -45deg,
    rgba(43, 49, 55, 1) 0%,
    rgba(45, 186, 78, 1) 100%
  ); */
}
.links div:nth-of-type(3) h3 {
  /* color: rgb(43, 49, 55); */
  /* background: linear-gradient(
    -45deg,
    rgba(43, 49, 55, 1) 0%,
    rgb(252, 252, 252) 100%
  ); */
}
.links div:nth-of-type(4) h3 {
  /* color: rgba(56, 220, 180, 1); */
  /* background: linear-gradient(
    -45deg,
    rgba(29, 173, 168, 1) 0%,
    rgba(56, 220, 180, 1) 100%
  ); */
}
.links div:nth-of-type(5) h3 {
  /* color: rgba(255, 85, 0, 1); */
  /* background: linear-gradient(
    -45deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 85, 0, 1) 100%
  ); */
}

/** second page ^ **/
