/** carousel/siema styling ^ **/

.s2 .container,
.s3 .container,
.s4 .container,
.s5 .container,
.s6 .container {
  display: flex;
  flex-direction: column;
}

.s2 .carousel,
.s3 .carousel,
.s4 .carousel,
.s5 .carousel,
.s6 .carousel {
  display: flex;
  /* flex-direction: column; */
}

/** carousel/siema styling ^ **/

/** main **/

h1 {
  font-size: var(--four);
  margin-bottom: 0.125em;
  padding-bottom: 0.125em;
  border-bottom: 3px solid var(--jet);
  /* max-width: 17.5%; */
  max-width: 33%;
}
p {
  font-size: var(--two);
  margin-bottom: 0.5em;
}

/** main ^ **/

/** page0 | Intro/Display **/

.selectDesigns h2 {
  font-size: var(--two);
  border-bottom: solid 3px var(--jet);
  width: 75%;
}
.selectDesigns p {
  font-size: var(--one);
}
.container > p {
  padding-bottom: 1em;
}

.selectDesigns {
  display: flex;
  overflow: auto;
  width: 90vw;
  /* white-space: nowrap; */
}
::-webkit-scrollbar {
  width: 16px;
  display: none;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background: var(--jet);
  display: none;
}

.selectDesigns div {
  display: flex;
  /* min-width: 300px; */
  width: clamp(450px, 33vw, 500px);
}

.selectDesigns .description {
  display: flex;
  flex-direction: column;
  margin: var(--two) var(--four) var(--two) var(--two);
}

.selectDesigns img {
  max-height: 50vh;
  box-shadow: 4.5px 9px 9px rgba(0, 0, 0, 0.32);
  border-radius: 31px;
  margin-bottom: 2em;
}
.selectCubic .description {
  margin-right: 10vw;
}

/** page0 | Intro/Display ^ **/

/** page1 | Hortus **/

.carousel img {
  display: block;
  max-height: 57vh;
  max-width: 70vw;
  height: auto;
  width: auto;
  margin-right: var(--four);
  box-shadow: 4.5px 9px 9px rgba(0, 0, 0, 0.16);
  margin-bottom: 18px;
}

.carousel {
  overflow: auto;
  width: 90vw;
}

/** page1 | Hortus ^ **/

/** page2 | Speculo **/

/** page2 | Speculo ^ **/

/** page3 | STOX **/

/** page3 | STOX ^ **/

/** page4 | DoorsOpenOttawa **/

/** page4 | DoorsOpenOttawa ^ **/

/** page5 | Cubic **/

/** page5 | Cubic ^ **/
