/** carousel styling **/

.s2 .container,
.s3 .container,
.s4 .container,
.s5 .container,
.s6 .container {
  display: flex;
  flex-direction: column;
}

.s2 .carousel,
.s3 .carousel,
.s4 .carousel,
.s5 .carousel,
.s6 .carousel {
  display: flex;
}

/** carousel styling ^ **/

/** main **/
.s1 {
  overflow: hidden;
}
.nextPageHint {
  position: absolute;
  z-index: 100;
  bottom: -112.5px;
  left: calc(50vw - 75px);
  background-color: var(--jet);
  height: 150px;
  width: 150px;
  color: var(--white);
  animation: hint 1.5s 1s cubic-bezier(0.95, -0.85, 0, 1.57) both;
}
.nextPageHint span {
  font-weight: 600;
  color: var(--white);
  position: absolute;
  transform: rotate(-45deg) translate(-25%, 1em);
}
@keyframes hint {
  0% {
    transform: scale(0) rotate(45deg);
    /* transform-origin: 50% 100%; */
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(45deg);
    /* transform-origin: 50% 100%; */
    opacity: 1;
  }
}

h1 {
  font-size: var(--four);
  /* margin-bottom: 0.125em; */
  /* padding-bottom: 0.125em; */
  /* border-bottom: 3px solid var(--jet); */
  /* max-width: 33%; */
}
.headerDivider {
  display: block;
  min-width: 300px;
  width: 33%;
  height: 3px;
  background-color: var(--jet);
  margin: 0.25em 0;
}
p {
  font-size: var(--two);
  margin-bottom: 0.5em;
}

/** main ^ **/

/** page0 | Intro/Display **/

.descDivider {
  display: block;
  /* min-width: 300px; */
  width: 66%;
  height: 3px;
  background-color: var(--jet);
  margin: 0.25em 0;
}
.selectDoorsOpenOttawa .descDivider {
  width: 96%;
}

.selectDesigns h2 {
  font-size: var(--two);
  /* border-bottom: solid 3px var(--jet); */
  /* width: 75%; */
}
.selectDesigns p {
  font-size: var(--one);
}
.container > p {
  padding-bottom: 1em;
}

.selectDesigns {
  display: flex;
  overflow: auto;
  width: 90vw;
  /* white-space: nowrap; */
}
::-webkit-scrollbar {
  width: 16px;
  display: none;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background: var(--jet);
  display: none;
}

.selectDesigns div {
  display: flex;
  /* min-width: 300px; */
  width: clamp(450px, 33vw, 500px);
}

.selectDesigns .description {
  display: flex;
  flex-direction: column;
  margin: var(--two) var(--four) var(--two) var(--two);
}

.selectDesigns img {
  max-height: 50vh;
  box-shadow: 4.5px 9px 9px rgba(0, 0, 0, 0.32);
  border-radius: 31px;
  margin-bottom: 2em;
}
.selectCubic .description {
  margin-right: 10vw;
}

/** page0 | Intro/Display ^ **/

/** page1 | Hortus **/

.carousel img {
  display: block;
  max-height: 57vh;
  max-width: 70vw;
  height: auto;
  width: auto;
  margin-right: var(--four);
  box-shadow: 4.5px 9px 9px rgba(0, 0, 0, 0.16);
  margin-bottom: 18px;
}

.carousel {
  overflow: auto;
  width: 90vw;
}

/** page1 | Hortus ^ **/

/** page2 | Speculo **/

/** page2 | Speculo ^ **/

/** page3 | STOX **/

/** page3 | STOX ^ **/

/** page4 | DoorsOpenOttawa **/

/** page4 | DoorsOpenOttawa ^ **/

/** page5 | Cubic **/

/** page5 | Cubic ^ **/
