/** carousel/siema styling **/
.carousel {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.carouselButtons {
  display: flex;
  margin-bottom: 1em;
}

.carouselButtons button {
  color: var(--jet);
  background-color: var(--white);
  font-size: var(--body);
  padding: var(--body);
  border: none;
}
.carouselButtons button:last-of-type {
  background-color: black;
  color: var(--white);
}

.carouselButtons button:focus {
  outline: none;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.153);
}
.carouselButtons button:active {
  outline: none;
  background-color: rgb(120, 120, 120) !important;
}

/** carousel/siema styling ^ **/

/** main **/

h1 {
  font-size: var(--four);
  margin-bottom: 0.125em;
  padding-bottom: 0.125em;
  border-bottom: 3px solid var(--jet);
  /* max-width: 17.5%; */
  max-width: 33%;
}
p {
  font-size: var(--two);
  margin-bottom: 0.5em;
}

/** main ^ **/

/** page0 | Inteo/Display **/

.selectDesigns h2 {
  font-size: var(--two);
  border-bottom: solid 3px var(--jet);
  width: 75%;
}
.selectDesigns p {
  font-size: var(--one);
}
.container > p {
  padding-bottom: 1em;
}

.selectDesigns {
  display: flex;
  overflow: auto;
  width: 90vw;
  /* white-space: nowrap; */
}
::-webkit-scrollbar {
  width: 16px;
  display: none;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background: var(--jet);
  display: none;
}

.selectDesigns div {
  display: flex;
  /* min-width: 300px; */
  width: clamp(450px, 33vw, 500px);
}

.selectDesigns .description {
  display: flex;
  flex-direction: column;
  margin: var(--two) var(--four) var(--two) var(--two);
}

.selectDesigns img {
  max-height: 50vh;
  box-shadow: 4.5px 9px 9px rgba(0, 0, 0, 0.32);
  border-radius: 31px;
  margin-bottom: 2em;
}
.selectDesigns img:last-of-type {
  margin-right: 2em;
}

/** page0 | Intro/Display ^ **/

/** page1 | Hortus **/

.description1 {
  margin-right: 2vw;
}

.siema1 {
  width: 80vw;
  max-height: 50vh;
}

.siema1 img {
  max-height: 50vh;
  max-width: 80vw;
}

/** page1 | Hortus ^ **/

/** page2 | Speculo **/

.description2 {
  margin-right: 2vw;
}

.s3 p {
  max-width: 50vw;
}

.siema2 {
  width: 40vw;
  max-height: 50vh;
}

.siema2 img {
  max-height: 50vh;
  max-width: 80vw;
}

.s3 .icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
  position: absolute;
  right: 0;
  top: 50vh;
  transform: translate(-66%, -66%);
  width: 20vw;
  height: 50vh;
}

.s3 .icons img {
  border-radius: 16px;
  height: 10vh;
  box-shadow: 4.5px 9px 9px rgba(0, 0, 0, 0.153);
}

/** page2 | Speculo ^ **/

/** page3 | STOX **/

.description3 {
  margin-right: 2vw;
}

.siema3 {
  width: 79vw;
  max-height: 50vh;
}

.siema3 img {
  max-height: 50vh;
  max-width: 80vw;
}

/** page3 | STOX ^ **/

/** page4 | DoorsOpenOttawa **/

.description4 {
  margin-right: 2vw;
}

.siema4 {
  width: 79vw;
  max-height: 50vh;
}

.siema4 img {
  max-height: 50vh;
  max-width: 80vw;
}

/** page4 | DoorsOpenOttawa ^ **/

/** page5 | Cubic **/

.description5 {
  margin-right: 2vw;
}

.siema5 {
  width: 79vw;
  max-height: 50vh;
}

.siema5 img {
  max-height: 50vh;
  max-width: 80vw;
}

/** page5 | Cubic ^ **/
