:root {
  --accentColor: #3c7f8c;
}

.Work .story > .title {
  font-size: var(--text-xl);
  color: var(--accentColor);
}

.Work .story .textGrid .title {
  color: var(--accentColor);
}

.Work .banner {
  background-color: var(--accentColor);
}

.Work section:nth-last-of-type(2) img:first-of-type {
  border: 2px var(--white) solid;
}
