:root {
  --accentColor: #3c7f8c;
}

.Work#SmartTenant .story > .title {
  font-size: var(--text-xl);
  color: var(--accentColor);
}

.Work#SmartTenant .story .textGrid .title {
  color: var(--accentColor);
}

.Work#SmartTenant .banner {
  background-color: var(--accentColor);
}
