.Navbar {
  position: absolute;
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: var(--text-4xl) var(--text-4xl);
}

.Navbar .container {
  width: 100%;
  max-width: var(--2xl);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Navbar .container > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Navbar .logo {
  height: 28px;
}

.Navbar p {
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;

  background: radial-gradient(
    150.75% 1874.52% at -18.66% 100%,
    #4db5f0 0%,
    #f04dc2 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  padding: 14px;
}

.Navbar button {
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.Navbar button img {
  width: 48px;
  height: 48px;

  margin-right: calc(var(--text-base) / 2);
}
