.Landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.Landing header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Landing .name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Landing .name img {
  width: 100%;
}

.Landing .name .firstName {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  height: 90px;
  width: calc((100vw - (2 * var(--text-4xl))) / 1.8479196557);
  margin-bottom: 25px;
}

.Landing .name .lastName {
  width: calc(100vw - (2 * var(--text-4xl)));
  margin-bottom: 17px;
  z-index: 2;
}

.Landing .heroCard {
  width: calc((100vw / 12) * 3);
  max-width: 468px;
  max-height: 777px;
  aspect-ratio: 1 / 1.6;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  border-radius: 10px;
  background: radial-gradient(
      112.57% 65.06% at 112.17% -1.38%,
      #f04dc2 0%,
      rgba(240, 77, 194, 0) 100%
    ),
    radial-gradient(
      107.8% 62.31% at 0% 100%,
      #6e4df0 0%,
      rgba(110, 77, 240, 0) 100%
    ),
    radial-gradient(
      101.19% 58.49% at 0% 0%,
      #4db5f0 0%,
      rgba(77, 181, 240, 0) 100%
    ),
    #ffffff;
}

.Landing .heroCard:nth-of-type(2) {
  transform: translateY(calc(-50% + 20%)) scale(0.75);
  background: rgba(0, 0, 0, 0.35);
  filter: blur(60px);
}

.Landing .skills {
  width: 100%;
  height: 90px;
  max-width: 1536px;

  text-align: end;
  font-size: var(--text-base);
}

.Landing .skills > * {
  margin-bottom: calc(var(--text-base) / 3);
}

.Landing > p {
  font-size: var(--text-base);
  font-weight: 500;
}

.Landing > p a {
  font-size: var(--text-base);
  font-weight: 500;
  color: var(--black);
  text-decoration: none;
  border-bottom: 1px solid var(--black);
}
